<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<context-param>
		<param-name>name</param-name>
		<param-value>jung woo</param-value>
	</context-param>
	<context-param>
		<param-name>age</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<param-name>port</param-name>
		<param-value>7000</param-value>
	</context-param>
	<context-param>
		<param-name>serverkey</param-name>
		<param-value>123456</param-value>
	</context-param>

	<error-page>
		<error-code>404</error-code>
		<location>/error/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/error500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/error/errorNullPointerException.jsp</location>
	</error-page>

	<servlet>
		<description></description>
		<display-name>MyFirstServlet</display-name>
		<servlet-name>MyFirstServlet</servlet-name>
		<servlet-class>sample.MyFirstServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyFirstServlet</servlet-name>
		<url-pattern>/MyFirstServlet</url-pattern>
	</servlet-mapping>
	<display-name>JSPstudy</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LifeCycle</display-name>
		<servlet-name>LifeCycle</servlet-name>
		<servlet-class>sample.LifeCycle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LifeCycle</servlet-name>
		<url-pattern>/LifeCycle</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Hello</display-name>
		<servlet-name>Hello</servlet-name>
		<servlet-class>sample.Hello</servlet-class>
		<init-param>
			<description>전화번호</description>
			<param-name>tel</param-name>
			<param-value>010-7758-2132</param-value>
		</init-param>
		<init-param>
			<description>이메일</description>
			<param-name>email</param-name>
			<param-value>sksk@naver.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>VisitInsert</display-name>
		<servlet-name>VisitInsert</servlet-name>
		<servlet-class>sample.VisitInsert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitInsert</servlet-name>
		<url-pattern>/VisitInsert</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>VisitList</display-name>
		<servlet-name>VisitList</servlet-name>
		<servlet-class>sample.VisitList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitList</servlet-name>
		<url-pattern>/VisitList</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MemberInsert</display-name>
		<servlet-name>MemberInsert</servlet-name>
		<servlet-class>sampleMember.MemberInsert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberInsert</servlet-name>
		<url-pattern>/MemberInsert</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MemberList</display-name>
		<servlet-name>MemberList</servlet-name>
		<servlet-class>sampleMember.MemberList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberList</servlet-name>
		<url-pattern>/MemberList</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>login.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginCheck</display-name>
		<servlet-name>LoginCheck</servlet-name>
		<servlet-class>login.LoginCheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCheck</servlet-name>
		<url-pattern>/LoginCheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>login.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Source</display-name>
		<servlet-name>Source</servlet-name>
		<servlet-class>sample.Source</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Source</servlet-name>
		<url-pattern>/Source</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Destination</display-name>
		<servlet-name>Destination</servlet-name>
		<servlet-class>sample.Destination</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Destination</servlet-name>
		<url-pattern>/Destination</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TestGetPostService</display-name>
		<servlet-name>TestGetPostService</servlet-name>
		<servlet-class>sample.TestGetPostService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestGetPostService</servlet-name>
		<url-pattern>/TestGetPostService</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>ConnectionPool</description>
		<res-ref-name>jdbc/myOracle</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>